.cart-icon-wrapper {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.cart-icon-button {
  position: relative;
}

.cart-badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #666666;
  color: #ffffff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 600;
  transform: translate(25%, -25%);
}

